<footer class="footer">
  <div id="support">
    <article class="community">
      <h3>Community support</h3>
      <ul>
        <li><a href="//github.com/playframework/playframework/discussions">Discuss Forum</a></li>
        <li><a href="//discord.gg/g5s2vtZ4Fa">Discord</a></li>
        <li><a href="//stackoverflow.com/questions/tagged/playframework">Stackoverflow</a></li>
      </ul>
    </article>
    <article class="professional">
      <h3>Donate to our Collective</h3>
      <ul>
        <li><a href="https://www.playframework.com/sponsors">If you like Play consider becoming a
          sponsor</a></li>
      </ul>
    </article>
  </div>
  <div class="wrapper">
    <div>
      <h3>Play Framework</h3>
      <ul>
        <li><a href="https://www.playframework.com/download">Try Play</a></li>
        <li><a href="https://www.playframework.com/documentation/latest/Tutorials">Tutorials</a>
        </li>
        <li><a href="https://www.playframework.com/documentation">Documentation</a></li>
      </ul>
    </div>
    <div>
      <h3>Community links</h3>
      <ul>
        <li><a href="http://www.indeed.com/jobs?q=%22play+framework%22&l=">Jobs <em>via Indeed</em></a>
        </li>
      </ul>
    </div>
    <div>
      <h3>Code &amp; contribution</h3>
      <ul>
        <li><a href="https://www.playframework.com/code">Code &amp; contributors</a></li>
        <li><a href="//github.com/playframework/playframework/issues">Bug tracker
          <em>GitHub</em></a></li>
        <li><a href="https://www.playframework.com/get-involved">Get involved</a></li>
      </ul>
    </div>
    <div>
      <h3>Social networks</h3>
      <ul>
        <li><a href="//twitter.com/playframework"><span>Twitter</span></a></li>
        <li><a href="//opencollective.com/playframework"><span>Open Collective</span></a></li>
      </ul>
    </div>
  </div>
  <div class="credits">
    <a href="https://www.playframework.com" class="logo"><img
      src="https://www.playframework.com/assets/images/logos/1e960a0ef2cad41e1be353eb6efe5af1-play_reverse.svg"></a>
    <a href="https://lightbend.com" class="partner"><img
      src="https://www.playframework.com/assets/images/logos/525b1d1a1f86ef97a29eded7e434b38c-lightbend-reverse.svg"></a>
    <a href="https://zengularity.com" class="partner"><img
      src="https://www.playframework.com/assets/images/logos/e73318d4c3a11ee57b9f6a1bf823d127-zengularity.png"></a>
    <p>
      Play Framework is released under the Apache 2 License
    </p>
  </div>
  <div class="lb-legal">
    <p>
      &copy; 2011-2022 Lightbend |
      <a href="https://www.lightbend.com/legal/licenses" target="_blank">Licenses</a> |
      <a href="https://www.lightbend.com/legal/terms" target="_blank">Terms</a> |
      <a href="https://www.lightbend.com/legal/privacy" target="_blank">Privacy Policy</a>
    </p>
  </div>
</footer>
